{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
   <div class="row text-center">
      <br />
      <p>Hello world! Welcome to my site!</p>
      <h2>About me</h2>
   </div>
   <div class="row">
      <p>I'm a self-taught developer with a degree in Mathematics, enthusiastic about developing practical and time-saving software solutions.</p>
      <p>I'm proficient with Python (including NumPy, Pandas, Flask, requests), SQL, Git, and bash.</p>
      <p>I've worked with MATLAB, Octave, Scala, LaTeX, and Apache Spark.</p>
      <p>I enjoy coding challenges! Here are links to my <a href="https://leetcode.com/mjgallag" target="_blank">LeetCode</a> and <a href="https://binarysearch.com/@/mg" target="_blank">binarysearch</a> profiles.</p>
      <p>When I'm not coding, you can probably find me <a href="https://www.strava.com/athletes/2796866" target="_blank">on my bike</a>.</p>
   </div>
   <div class="row text-center">
      <br />
      <a class="btn btn-primary" role="button" href="{{ url_for('contact') }}">Contact me</a>
   </div>
</div>
{% endblock %}